@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px; 
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #8e8e8e; 
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #000000; 
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e3e3e3;
    --foreground: #000000;
  }
}

svg[height=""] {
  height: 1em; 
}

svg[width=""] {
  width: 1em;
}

body {
  
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
